<html>
    <head>
        <title>Bandiere</title>
        <link rel="stylesheet" href="../static/style.css" media="screen" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Bebas%20Neue" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin%20Sans" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a href="/" class="navElement">Home</a>
            <a href="https://github.com/balordi/Balordi" class="navElement">GitHub</a>
            <a href="#" class="navElement">Autori</a>
        </nav>

        <main>
            <header>
                <h1>Incontriamo il team</h1>
            </header>

            <div class="round shaded res" id="card">
                <article id="index">
                    <h3>Leader dello sviluppo, dell’organizzazione e del rinnovo del software</h3>
                    <h2 id="nation" class="nation">Davide Guerrazzi</h2>
                    <img class="round shaded" id="autore" src="../static/authors/guerrazzi.jpg">
                    <p id="quote">"Ragazzi stiamo andando bene" (nell'istante in cui Filip pusha su master)</p>
                </article>
            </div>

            <div class="round shaded res" id="card">
                <article id="index">
                    <h3>Responsabile della ricerca mediante l’utilizzo di sistemi informatici avanzati</h3>
                    <h2 id="nation" class="nation">Antonio Vecchio</h2>
                    <img class="round shaded" id="autore" src="../static/authors/anto.jpg">
                    <p id="quote">"non mettere niente, non devi metterla per forza"</p>
                </article>
            </div>

            <div class="round shaded res" id="card">
                <article id="index">
                    <h3>Responsabile della vendita e della pubblicità</h3>
                    <h2 id="nation" class="nation">Udaya Kotte</h2>
                    <img class="round shaded" id="autore" src="../static/authors/udaya.jpg">
                    <p id="quote">(Foto scattata prima di essere arrestato)</p>
                </article>
            </div>

            <div class="round shaded res" id="card">
                <article id="index">
                    <h3>Responsabile dello sviluppo e della ricerca logica</h3>
                    <h2 id="nation" class="nation">Filip Madziewicz</h2>
                    <img class="round shaded" id="autore" src="../static/authors/filip.jpg">
                    <p id="quote">(Foto scattata prima del testosterone)</p>
                </article>
            </div>
        </main>
    </body>
</html>
