<html>
    <head>
        <title>Bandiere</title>
        <link rel="stylesheet" href="../static/style.css" media="screen" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Bebas%20Neue" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin%20Sans" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a href="#" class="navElement">Home</a>
            <a href="https://github.com/balordi/Balordi" class="navElement">GitHub</a>
            <a href="#" class="navElement">Autori</a>
        </nav>

        <main>
            <header>
                <h1>Indovino la bandiera</h1>
            </header>

            <form method="POST">
                <input name="prompt">
                <input type="submit">
            </form>

            <div class="round shaded res" id="card">
                <article id="index">
                    <h3>La bandiera che stai descrivendo è...</h3>
                    <h2 id="nation" class="nation">{{data}}!</h2>
                    <img id="country" src=chosenImage>
                </article>
            </div>

            <script>
                let cName = document.getElementById('nation').innerText;
                cName = cName.substr(0, cName.length - 1);
                var chosenImage = "../static/" + cName + ".png";
                console.log(chosenImage)
                document.getElementById('country').src = chosenImage
            </script>
        </main>
    </body>
</html>