<html>
    <head>
        <title>Bandiere</title>
        <link rel="stylesheet" href="../static/style.css" media="screen" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Bebas%20Neue" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin%20Sans" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a href="#" class="navElement">Home</a>
            <a href="https://github.com/balordi/Balordi" class="navElement">GitHub</a>
            <a href="#" class="navElement">Autori</a>
        </nav>

        <main>
            <header>
                <h1>Indovino la bandiera</h1>
            </header>

            <div id="flagformcard">
              <form method="POST">
                  <input name="prompt" id="colore">
                  <label for="colore">Colori</label><br>
                  <input type="checkbox" name="simbolo" id="simbolo">
                  <label for="simbolo">Simbolo?</label><br>
                  <input type="radio" name="orientamento" id="sim1" value="orizzontale">
                  <label for="sim1">Orizzontale</label><br>
                  <input type="radio" name="orientamento" id="sim2" value="verticale">
                  <label for="sim2">Verticale</label><br>
                  <input type="radio" name="orientamento" id="sim3" value="croce">
                  <label for="sim3">Croce</label><br>
                  <input type="submit" value="Indovina!">
              </form>
            </div>

            <div class="round shaded res" id="card">
                <article id="index">
                    <h3>La bandiera che stai descrivendo è...</h3>
                    <h2 id="nation" class="nation">{{data}}!</h2>
                    <img id="country" src=chosenImage>
                </article>
            </div>

            <script>
                let cName = document.getElementById('nation').innerText;
                cName = cName.substr(0, cName.length - 1);
                var chosenImage = "../static/" + cName + ".png";
                console.log(chosenImage)
                document.getElementById('country').src = chosenImage
            </script>
        </main>
    </body>
</html>
